.navbar {
    padding: 30px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background: #1abc9c;
}

.navbar-nav li a:hover {
    color: #bc1a86 !important;
}



h1 {
    color: black;
    text-align: left;
    font-size: 48px;
    font-family: 'Brush Script MT', cursive;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

h2 {
    color: black;
    text-align: left;
    font-size: 36px;
    padding-left: 30px;
}

h3 {
    color: black;
    text-align: left;
    font-size: 27px;
}


.container-fluid {
    padding-top: 10px;
    padding-left: 30px;
    text-align: left;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font: 19px;
    line-height: 1.8;
    color: #f5f6f7;

    p {
    font-size: 19px;
    color: #222;
    padding-left: 30px;
    padding-right: 30px; 
    padding-bottom: 10px;
}
}


/* form*/
.contactform {
    text-align: left;
    font-size: 19px;
    padding-left: 30px;
}

/* Footer */

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    font-size: 14px;
}



